/* || COLORES || AZUL: #44AADF || VERDE: #00A550 || AMARILLO: #FDCE07 || ROJO: #EA2227 ||  NARANJA: #FC6B1C */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(fontface/PTSansNarrow1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(fontface/PTSansNarrow2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(fontface/PTSansNarrow3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(fontface/PTSansNarrow4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: "Arial"; /*-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;*/ font-size: 18px; color: #414141; }
form, input, select, textarea{ margin: 0; padding: 0; }
input[type=text], select, textarea{ border: 1px solid #e6e6e6; padding: 2px 5px; background: #fff; color: #414141; min-width: 200px; font-size: 18px; font-family: "Arial"; }
select, textarea{ width: 100%; }
.inputmin { min-width: 10px !important; width: 50px; text-align: center; }
table { font-size: 18px; }
table.lista { font-family: PT Sans Narrow !important; }
table.lista input { font-family: PT Sans Narrow !important; }
table.lista select { font-family: PT Sans Narrow !important; }
table.lista textarea { font-family: PT Sans Narrow !important; }
table.lista td { position: relative; border-bottom: 1px solid #e6e6e6; }

.txtverde { color: #00A550; }
.txtrojo { color: #F00; }
.flright { float: right; }
.flleft { float: left; }
.alingcen { text-align: center; }
.alinglef { text-align: left; }
.alingrig { text-align: right; }
.alingjus { text-align: justify; }
/*.radius { border-radius: 10px; }*/
#alerta { z-index: 100; }
.hide { display: none; }
.tooltip{ position: absolute; left: 100%; top:50%; margin-top: -13px; display: block; background: #414141; padding: 2px 5px; color: #fff; /*border-radius: 5px;*/ width: 160px; z-index: 4; text-align: left; display: none; margin-left: 11px; }
.tooltip .close{ float: right; margin-top: 2px; }
.bgverde{ background: #00A550; }
.bgazul{ background: #44AADF; }
.bgnaranja{ background: #FC6B1C; }
.bgrojo{ background: #EA2227; }
.bgamarillo{ background: #FDCE07; }
.sphelper{ height: 100%; display: inline-block; vertical-align: middle; }
.tablecortes{ font-size: 14px; }

.container{ width: 100%; height: 100%; margin: 0; padding: 0; background: #ECECEC; }

.container .banner{ width: 100%; height: 100px; position: absolute; top: 0; left: 0; z-index: 6; background: #fff; }
.container .banner ul{ height: 100px; }
.container .banner ul li{ height: 100px; text-align: center; position: relative; }
.container .banner ul li img{ max-width: 100%; max-height: 100px; display: inline-block; vertical-align: middle; }
.container .banner ul li span{ height: 100%; display: inline-block; vertical-align: middle; }

.container .header{ width: 100%; height: 60px; position: absolute; top: 100px; left: 0; z-index: 5; border-top: 2px solid #fff; }
.container .header .header-content{ display: block; height: 100%; padding: 0 10px; }
.container .header .header-content h3{ font-size: 28px; color: #fff; margin: 0; padding: 0; line-height: 60px; }

.container .header-info{ width: 100%; height: 40px; position: absolute; top: 160px; left: 0; z-index: 6; background: #fff; line-height: 40px; font-weight: bold; }
.container .header-info div{ padding: 0 10px; }

.container .header-table{ width: 100%; height: 40px; position: absolute; top: 200px; left: 0; z-index: 5; background: #f2f2f2; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
.container .header-table table{ height: 40px; font-weight: bold; }
/*.container .header-table table td{ padding-right: 10px; }*/

.container-search{ width: 100%; height: 100%; margin: 0; padding: 0; background: rgba(162,157,155,.7); position: absolute; z-index: 15; display: none; }
.container .search{ width: 100%; height: 75px; position: absolute; top: 0; left: 0; background: #fff; z-index: 10;}
.container .search .search-content{ display: block; height: 100%; padding: 0 10px; }
.container .search .search-content table{ height: 75px; }
.container .search .search-content table td{ font-size: 26px; color: #fff; }
.container .search .search-content table td a{ display: table-cell; height: 75px; vertical-align: middle; }
.container .search .search-content input{ font-size: 20px; padding: 2px 0; border:none; width: 100%; color: #A29D9B; }
.container .search .search-content input:focus{ outline: 0; }

.container .content{ width: 100%; height: 100%; background: #fff; font-size: 16px; z-index: 1; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.container .content .body{ padding-top: 240px; padding-bottom: 60px; margin: 0; }

.container .footer{ width: 100%; height: 60px; position: absolute; bottom: 0; left: 0; z-index: 15; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); background: #414141; line-height: 60px; text-align: center; }
.container .footer .btn{ background: none; border:none; padding: 0 5px; }
.container .footer .btn.default{ border:1px solid #fff; padding: 0 5px; }

.btn{ margin: 0 5px; padding: 0 5px; color: #fff; font-size: 21px; position: relative; height: 27px; }
.btn img{ height: 15px; }
.btn.ok{ background: #00A550; border: 1px solid #00A550; }
.btn.default{ background: #f00; border: 1px solid #f00; color: #fff; }
.btn.btnmin{ padding: 2px 5px; font-size: 16px; margin: 0; }
.btn.btnUpdCant{ position: absolute; top: 50%; right: -12px; margin-top: -13px; }

.alerta { position: absolute; z-index: 20; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,.5); display: none; }
.alerta .contenido{ position: relative; display: block; margin: 0px; background: #fff; max-height: 90%; padding: 10px; z-index: 20; }
.alerta .contenido .header{ font-weight: bold; border-bottom: 1px solid #e6e6e6; height: 40px; line-height: 40px; }
.alerta .contenido .body{ padding: 10px 0; }
.alerta .contenido .buttons{ padding-top:10px; text-align: right; }
.alerta .customHeader { width: 100%; height: 60px; color: #fff; }
.alerta .customHeader h3 { padding: 0 20px; margin: 0; font-size: 28px; font-weight: bold; line-height: 60px; }

.loading { position: absolute; z-index: 1000; width: 100%; height: 100%; background: rgba(0,0,0,.5); display: none; }
.loading span { position: absolute; display: block; height: 100px; width: 100px; background: #fff; /*border-radius: 10px;*/ top: 50%; left: 50%; margin-top: -50px; margin-left: -50px; text-align: center; }
.loading span img { margin-top: 15px; }

.recargatarjetas { display: inline-block; width: 90px; height: 50px; margin: 5px; text-align: center; line-height: 50px; color: #fff; border-radius: 5px; font-weight: bold; font-size: 24px; background: #999; }
.recargatarjetas.on { background: #00A550; }
.companias span { display: inline-block; margin: 5px; border-radius: 5px; padding: 5px; background: #fff; }
.companias span img { width: 90px; height: 50px; border-radius: 5px; }
.companias span.inactiva { opacity: .3; }
.companias span.activa { background: #00A550; }



@media only screen and (min-width: 720px) {
    html, body { font-size: 24px; }
    input[type=text], select, textarea{ font-size: 24px; }
    table { font-size: 24px; }
    .container .header .header-content h3{ font-size: 34px; }
    .container .search .search-content table td{ font-size: 32px; }
    .container .search .search-content input{ font-size: 26px; padding: 2px 0; }
    .container .content{ font-size: 22px; }
    .btn{ font-size: 27px; height: 33px; }
    .btn.btnmin{ padding: 2px 5px; font-size: 22px; margin: 0; }
    .btn img{ height: 20px; }
    .alerta .customHeader h3 { font-size: 34px; }
    .tablecortes{ font-size: 20px; }
    .recargatarjetas { width: 120px; height: 67px; font-size: 32px; line-height: 67px; }
    .companias span img { width: 120px; height: 67px; }
    .tooltip { width: 200px; margin-top: -17px; margin-left: 12px; }
    .tooltip .close{ margin-top: 5px; }
    .btn.btnUpdCant { right: -15px; margin-top: -16px; }
}


table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
