
.txtcolor { color: #EA2227; }
.bgcolor { background: #EA2227; color: #fff; }

.pagina .contenedor .header { background: #EA2227; }

.btn{ background: #EA2227; border: 1px solid #EA2227; }
/*.btn:hover{ color: #EA2227; }*/
/*.btn:hover img{ background: #EA2227; }*/

.listado { max-height: calc(100% - 110px); height: 850px; }