
.txtcolor { color: #FDCE07; }
.bgcolor { background: #FDCE07; color: #fff; }

.pagina .contenedor .header { background: #FDCE07; }

.btn{ background: #FDCE07; border: 1px solid #FDCE07; }
/*.btn:hover{ color: #FDCE07; }*/
/*.btn:hover img{ background: #FDCE07; }*/

.listado { max-height: calc(100% - 110px); height: 850px; }
