
.txtcolor { color: #FC6B1C; }
.bgcolor { background: #FC6B1C; color: #fff; }

.pagina .contenedor .header { background: #FC6B1C; }
.pagina .contenedor .body { max-height: calc(100% - 380px); height: 790px; }

.btn{ background: #FC6B1C; border: 1px solid #FC6B1C; }
/*.btn:hover{ color: #FC6B1C; }*/
/*.btn:hover img{ background: #FC6B1C; }*/

.listado { max-height: calc(100% - 112px); height: 680px; overflow-y: auto; }
#trCostos #dvCostos{ background: #f6f6f6; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; overflow: hidden; }

.container .header { top: 140px; border: none; }
.container .header-info{ top:200px; }
.container .header-table{ top:240px; }
.container .content .body{ padding-top: 280px; }

.container .header-min{ width: 100%; height: 40px; position: absolute; top: 98px; left: 0; z-index: 6; background: #e25712; line-height: 40px; color: #fff; border-top: 2px solid #fff; }
.container .header-min div{ padding: 0 10px; }