
.txtcolor { color: #6d491a; }
.bgcolor { background: #6d491a; color: #fff; }

.btn{ background: #6d491a; border: 1px solid #6d491a; }
/*.btn:hover{ color: #6d491a; }*/
/*.btn:hover img{ background: #6d491a; }*/

.listado { max-height: calc(100% - 110px); height: 850px; }
.container .header { top: 0; z-index: 6; background: #6d491a; }
.container .header-table{ top:60px; }
.container .content .body{ padding-top: 100px; }