
.txtcolor { color: #44AADF; }
.bgcolor { background: #44AADF; color: #fff; }

.pagina .contenedor .header { background: #44AADF; }

.btn{ background: #44AADF; border: 1px solid #44AADF; }
.btn.default2{ background: #414141; border: 1px solid #414141; color: #fff; }
/*.btn:hover{ color: #44AADF; }*/
/*.btn:hover img{ background: #44AADF; }*/

.listado { max-height: calc(100% - 110px); height: 850px; }
.trcortes{ z-index: 2; }
#trVentas #dvVentas{ background: #f6f6f6; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; height: 0px; overflow-y: auto; }
.showVentas{ -webkit-transform: translate3d(0,0,0) !important; -moz-transform: translate3d(0,0,0) !important; -ms-transform: translate3d(0,0,0) !important; -o-transform: translate3d(0,0,0) !important; transform: translate3d(0,0,0) !important; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }