
.txtcolor { color: #00A550; }
.bgcolor { background: #00A550; color: #fff; }

.btn{ background: #00A550; border: 1px solid #00A550; }
/*.btn:hover{ color: #00A550; }*/
/*.btn:hover img{ background: #00A550; }*/

.listado { max-height: calc(100% - 110px); height: 850px; }
.container .header { top: 0; z-index: 6; }
.container .header-table{ top:60px; }
.container .content .body{ padding-top: 100px; }